* {
  font-family: "Courier New";
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-color: #e0e0e0;
}

h1 {
  color: #3f3fff;
}

.top {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-child {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.topic {
  margin-left: 20px;
}

.content {
  margin-left: 20px;
}

.barelement {
  background-color: #ffffff;
  order: -1;
}

.barelement-right {
  background-color: #ffffff;
}

.button-link {
  color: #000000;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.button-link:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}